<html>
    <head>
        <style>
            body{background-color: #66BAA7;}
            div {text-align: center;}
            h1 {text-align: center;}
        </style>
    </head>

    <body>
        <h1>Enter 2 Pulse Values to calssify</h1>
        <div>
            <form action='#' method = "post">
                Value 1<input name = "val1" type = "text" class="text">
                <br>
                <br>
                Value 2<input name = "val2" type = "text" class="text">
                <br>
                <br>
                Value 3<input name = "val3" type = "text" class="text">
                <br>
                <br>
                Value 4<input name = "val4" type = "text" class="text">
                <br>
                <br>
                <input type = "submit">
            </form> 
        </div>
    </body>
</html>